<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="base">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.12268 0.22937 0.32047"
        rpy="0 0 0" />
      <mass
        value="3.7475" />
      <inertia
        ixx="0.027294"
        ixy="7.0321E-19"
        ixz="-2.5475E-17"
        iyy="0.054032"
        iyz="5.0062E-19"
        izz="0.027294" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel_1">
    <inertial>
      <origin
        xyz="-0.00012743 0.00078371 -0.044853"
        rpy="0 0 0" />
      <mass
        value="0.39461" />
      <inertia
        ixx="8.8936E-05"
        ixy="-2.3251E-07"
        ixz="-1.87E-07"
        iyy="8.9422E-05"
        iyz="4.4765E-07"
        izz="0.00015312" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/wheel_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/wheel_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="revolute_1"
    type="revolute">
    <origin
      xyz="0.31599 -0.34198 0.19925"
      rpy="-1.5708 -1.2174 1.46" />
    <parent
      link="base_link" />
    <child
      link="wheel_1" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_2">
    <inertial>
      <origin
        xyz="-0.00012743 0.00078371 0.097614"
        rpy="0 0 0" />
      <mass
        value="0.39461" />
      <inertia
        ixx="8.8936E-05"
        ixy="-2.325E-07"
        ixz="-1.8699E-07"
        iyy="8.9422E-05"
        iyz="4.4766E-07"
        izz="0.00015312" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/wheel_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/wheel_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="revolute_2"
    type="revolute">
    <origin
      xyz="-0.012499 -0.011797 0.19925"
      rpy="1.5708 1.01 0.41277" />
    <parent
      link="base_link" />
    <child
      link="wheel_2" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_3">
    <inertial>
      <origin
        xyz="-0.00012743 0.00078371 -0.0045049"
        rpy="0 0 0" />
      <mass
        value="0.39461" />
      <inertia
        ixx="8.8936E-05"
        ixy="-2.3252E-07"
        ixz="-1.87E-07"
        iyy="8.9422E-05"
        iyz="4.4767E-07"
        izz="0.00015312" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/wheel_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/wheel_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="revolute_3"
    type="revolute">
    <origin
      xyz="-0.016526 -0.50962 0.19925"
      rpy="-1.5708 0.48737 -0.63443" />
    <parent
      link="base_link" />
    <child
      link="wheel_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>